<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TranquilApplication"
        tools:targetApi="31">
        <activity
            android:name=".TestRecycle"
            android:exported="false" />
        <activity
            android:name=".MainActivities.BookDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivities.DoctorDetailsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivities.MainMenuActivity" />
        <activity
            android:name=".MainActivities.NotificationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivities.MainMenuActivity" />
        <activity
            android:name=".MainActivities.ScreenTestResutsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivities.MainMenuActivity" />
        <activity
            android:name=".MainActivities.ScreenTestIntroActivity"
            android:exported="false"
            android:parentActivityName=".MainActivities.ScreenTestStartActivity" />
        <activity
            android:name=".MainActivities.ScreenTestStartActivity"
            android:exported="false"
            android:parentActivityName=".MainActivities.MainMenuActivity" />
        <activity
            android:name=".MainActivities.QuestionnaireActivity"
            android:exported="false"
            android:parentActivityName=".MainActivities.ScreenTestStartActivity" />
        <activity
            android:name=".MainActivities.LoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivities.MainActivity" />
        <activity
            android:name=".MainActivities.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".MainActivities.MainActivity" />
        <activity
            android:name=".MainActivities.MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivities.SetupProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivities.MainActivity" />
        <activity
            android:name=".MainActivities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>